extends ../layouts/common

block content
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../images/logo.png" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link " href="http://localhost:3000/Users">Users<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Product</a>
            <a class="nav-item nav-link" href="#">Images</a>
            </div>
        </div>
    </nav>
    .container
        h1 Create new user

        if errors
            each error in errors
                .alert.alert-danger= error

        form(action="Create" method="POST", enctype="multipart/form-data")
            .form-group
                label(for="name") Name
                input#name.form-control(type="text" name="name" value= values ? values.name : "")

            .form-group
                label(for="phone") Phone 
                input#phone.form-control(type="text" name="phone" value= values ? values.phone : "")

            .form-group
                label(for="avatar") Phone 
                input#phone.form-control-file(type="file" name="avatar" value= values ? values.avatar : "")

            button.btn.btn-success.mt-2 Create
