extends ../layouts/common

block content
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="http://localhost:3000/">
        <img src="../images/logo.png" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a class="nav-item nav-link " href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link " href="http://localhost:3000/Users">Users<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="http://localhost:3000/Products#">Products</a>
          <a class="nav-item nav-link" href="#">Images</a>
          </div>
      </div>
  </nav>
  h1 new Transfer
  .container
    form(method="POST")
          .form-group
            label(for="account") Account
            input#email.form-control(type="text" name="accountId")

          .form-group
            label(for="amount") Amount 
            input#password.form-control(type="number" name="amount")

          button.btn.btn-primary.mt-2 Transfer
